<!DOCTYPE html>
<html>
        <%- include('partials/head'); %>
<body>
    <%- include('partials/header'); %>
    <p>(<%= books.length %> to be exact)</p>
    <% books.forEach( book => {  %>
        <li class="book-li"><a href="books/<%= book.id %>"><%= book.title %> - <%= book.author %> <img src="<%= book.image_url %>" alt=""></a></li>
      <% }) %>

      <div class = "container">
        <div class = "bar1"></div>
        <div class = "bar2"></div>
        <div class = "bar3"></div>
    </div>
</body>

</html>
