<!DOCTYPE html>
<html>
        <%- include('partials/head'); %>
<body>
    <%- include('partials/header'); %>
    <% books.forEach( book => {  %>
        <li class=""><a href="books/<%= book.id %>"><%= book.title %> - <%= book.author %> <img src="<%= book.image_url %>" alt=""></a></li>
      <% }) %>
      <p>Total books in DB: <%= books.length %></p>
</body>

</html>
