<!DOCTYPE html>
<html>
        <%- include('partials/head'); %>
<body>
    <%- include('partials/header'); %>
    <p>(<%= books.length %> to be exact)</p>
    <% books.forEach( book => {  %>
        <li class="book-li"><a href="books/<%= book.id %>"><%= book.title %> - <%= book.author %> <img src="<%= book.image_url %>" alt=""></a></li>
      <% }) %>
      
</body>

</html>
