<!DOCTYPE html>
<html>
    <%- include('partials/head'); %>

 
</head>
<body>
  <%- include('partials/header'); %>
   
  <h2><%= book.title %></h2>
  <img src="<%= book.image_url %>" alt="">
  <p><%= book.description %></p>

</body>
</html>